header {
    background-color: dodgerblue;
    display:flex;
    justify-content: space-between;
    line-height: 3rem;
}

body {
    text-align: center;
    margin: 0 auto;
      
   
       
}

main {
    padding: 20px;
    margin:auto;
   text-align: center;
   width:60%
   
}

li{
    cursor: pointer;
    list-style-type: none;
    border-radius: 10px;
    background-color:#87ceeb;
    font-size: 2rem;
    margin:10px;
    margin-bottom: 15px;
    width: 90%;
    padding: 5px;
    text-align: left;
}

hr {
    border:2px gray solid;
    margin: 10px;
    width: 70%;
}

#userScores {
    font-size: 2rem;
    cursor: pointer;
    margin-left: 20px;
}

#downTimer {
    font-size: 2rem;
     margin-right: 20px;
}

ul {
   text-align: center;  
    margin: auto;
    padding-left: 90px;
    width:60%;
   
    
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#last {
   text-align: center;
    margin: 0 auto;
    width:20%
   

}

#userInitials {
    width: 150px;
    margin-bottom: 10px;
}

#saveBtn {
    margin-left: 60px;
}

/* CSS */
.button-21 {
    align-items: center;
    appearance: none;
    background-color: #3EB2FD;
    background-image: linear-gradient(1deg, #4F58FD, #149BF3 99%);
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 100px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    font-family: CircularStd,sans-serif;
    font-size: 1rem;
    height: auto;
    justify-content: center;
    line-height: 1.5;
    padding: 6px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s,background-position .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
    margin-right: 10px;
    
  }
  
  .button-21:active,
  .button-21:focus {
    outline: none;
  }
  
  .button-21:hover {
    background-position: -20px -20px;
  }
  
  .button-21:focus:not(:active) {
    box-shadow: rgba(40, 170, 255, 0.25) 0 0 0 .125em;
  }

  /* CSS */
.button-22 {
    align-items: center;
    appearance: none;
    background-color: #e60026;
    background-image: linear-gradient(1deg, #ae2029, #e30022 99%);
    background-size: calc(100% + 20px) calc(100% + 20px);
    border-radius: 100px;
    border-width: 0;
    box-shadow: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-flex;
    font-family: CircularStd,sans-serif;
    font-size: 1rem;
    height: auto;
    justify-content: center;
    line-height: 1.5;
    padding: 6px 15px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: background-color .2s,background-position .2s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
  }
  
  .button-22:active,
  .button-22:focus {
    outline: none;
  }
  
  .button-22:hover {
    background-position: -20px -20px;
  }
  
  .button-22:focus:not(:active) {
    
    box-shadow: rgb(190,0,50)  0 0 0 .125em;
  }
  
