header {
    background-color: dodgerblue;
    display:flex;
    justify-content: space-between;
    line-height: 3rem;
}

body {
    text-align: center;
    margin: 0 auto;
      
   
       
}

main {
    padding: 20px;
    margin:auto;
   text-align: center;
   width:60%
   
}

li{
    cursor: pointer;
    list-style-type: none;
    border-radius: 10px;
    background-color:#87ceeb;
    font-size: 1.5rem;
    margin:10px;
    width: 70%;
    padding: 5px;
    text-align: left;
}

hr {
    border:2px gray solid;
    margin: 10px;
    width: 70%;
}

#userScores {
    font-size: 2rem;
    cursor: pointer;
    margin-left: 20px;
}

#downTimer {
    font-size: 2rem;
     margin-right: 20px;
}

ul {
   text-align: center;
    background-color: #f8f8ff;
    margin: auto;
    padding-left: 90px;
    width:60%;
   
    
}

h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

#last {
   text-align: center;
    margin: 0 auto;
    width:20%
   

}

#userInitials {
    width: 200px;
}